 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortener</title>
 </head>
 <body>
    <h1>welcome to the url shortener!</h1>
    <form method="post" action="/">
        <label for="url">enter an https:// url please: </label>
        <input type="url" name="url" id="url" placeholder="https://www.example.com" pattern="https://.*" size="50" value="{{old_url}}" required>
        <button type="submit" value="submit">generate!</button>
        <br>
        <label>generated url here: </label>
        <input name="generated_url" value="{{new_url}}" style="margin-top: 10px; margin-left:35px" size="50"></input>
    </form>
 </body>
 </html>